body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-them-text-color);
    background: var(--tg-them-bg-color);
}

.table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px ;
}

.box {
    max-width: 390px;
    padding-top: 50px;
}

#cardData {
    width: 80%;
    height: 35px;
    resize: none;
    padding: 8px;
    box-sizing: border-box;
}

#amount {
    width: 80%;
    height: 35px;
    resize: none;
    padding: 8px;
    box-sizing: border-box;
}